{{!--
  This is an example component. You can see examples of how using handlebars custom helpers here.
  To add it to the page simply reference it in any page with the following syntax:
  {{> example }}
--}}

<div class="example" data-action="example">

    <section class="example__section">
        <h2 class="example__heading2">Reference</h2>
        <ul class="example__list">

        {{#pages}}
            {{#withSort items 'data.title'}}
                {{#is this.data.status 'reference'}}
                    <li>
                        <a href="{{pagename}}.html">
                            {{this.data.description}}
                            {{#if data.assignee}}
                                <span class="assignee">/ {{data.assignee}}</span>
                            {{/if}}
                        </a>
                    </li>
                {{/is}}
            {{/withSort}}
        {{/pages}}
        </ul>
    </section>

    <section class="example__section">
        <h2 class="example__heading2">In Progress</h2>
        <ul class="example__list">
        	{{#pages}}
                {{#withSort items 'data.title'}}
                    {{#is this.data.status 'in-progress'}}
                        <li>
                            <a href="{{pagename}}.html">
                                {{this.data.description}}
                                {{#if data.assignee}}
                                    <span class="assignee">/ {{data.assignee}}</span>
                                {{/if}}
                            </a>
                        </li>
                    {{/is}}
                {{/withSort}}
            {{/pages}}
        </ul>
    </section>

    <section class="example__section">
        <h2 class="example__heading2">In Test</h2>
        <ul class="example__list">
        	{{#pages}}
                {{#withSort items 'data.title'}}
                    {{#is this.data.status 'in-test'}}
                        <li class="i">
                            <a href="{{pagename}}.html">
                                {{this.data.description}}
                                {{#if data.assignee}}
                                    <span class="assignee">/ {{data.assignee}}</span>
                                {{/if}}
                            </a>
                        </li>
                    {{/is}}
                {{/withSort}}
            {{/pages}}
        </ul>
    </section>

    <section class="example__section">
        <h2 class="example__heading2">Done</h2>
        <ul class="example__list">
        	{{#pages}}
                {{#withSort items 'data.title'}}
                    {{#is this.data.status 'done'}}
                        <li class="i">
                            <a href="{{pagename}}.html">
                                {{this.data.description}}
                                {{#if data.assignee}}
                                    <span class="assignee">/ {{data.assignee}}</span>
                                {{/if}}
                            </a>
                        </li>
                    {{/is}}
                {{/withSort}}
            {{/pages}}
        </ul>
    </section>
</div>
