<div class="index__sections" data-action="home">
    <div class="index__section">
        <h2 class="index__heading2">Reference</h2>
        <ul class="index__list">
        {{!-- {{globalData.jose}} --}}
        {{!-- {{posts.pager}} --}}
        {{!-- {{get "view.path"}}
        {{get "view.relative"}}
        {{get "view.extname"}} --}}
        {{!-- {{ pagename }} --}}
        
        {{!-- {{get "view.path"}} --}}
        
        {{#pages}}
            {{#withSort items 'data.title'}}
                {{#is this.data.status 'reference'}}
                    <li class="i">
                        <a href="{{pagename}}">
                            {{this.data.description}}
                            {{#if data.assignee}}
                                <span class="assignee">/ {{data.assignee}}</span>
                            {{/if}}
                        </a>
                    </li>
                {{/is}}
            {{/withSort}}
        {{/pages}}
        </ul>
    </div>

    <div class="index__section">
        <h2 class="index__heading2">In Progress</h2>
        <ul class="index__list">
        	{{#pages}}
                {{#withSort items 'data.title'}}
                    {{#is this.data.status 'in-progress'}}
                        <li class="i">
                            <a href="{{pagename}}">
                                {{this.data.description}}
                                {{#if data.assignee}}
                                    <span class="assignee">/ {{data.assignee}}</span>
                                {{/if}}
                            </a>
                        </li>
                    {{/is}}
                {{/withSort}}
            {{/pages}}
        </ul>
    </div>

    <div class="index__section">
        <h2 class="index__heading2">In Test</h2>
        <ul class="index__list">
        	{{#pages}}
                {{#withSort items 'data.title'}}
                    {{#is this.data.status 'in-test'}}
                        <li class="i">
                            <a href="{{pagename}}">
                                {{this.data.description}}
                                {{#if data.assignee}}
                                    <span class="assignee">/ {{data.assignee}}</span>
                                {{/if}}
                            </a>
                        </li>
                    {{/is}}
                {{/withSort}}
            {{/pages}}
        </ul>
    </div>

    <div class="index__section">
        <h2 class="index__heading2">Done</h2>
        <ul class="index__list">
        	{{#pages}}
                {{#withSort items 'data.title'}}
                    {{#is this.data.status 'done'}}
                        <li class="i">
                            <a href="{{pagename}}">
                                {{this.data.description}}
                                {{#if data.assignee}}
                                    <span class="assignee">/ {{data.assignee}}</span>
                                {{/if}}
                            </a>
                        </li>
                    {{/is}}
                {{/withSort}}
            {{/pages}}
        </ul>
    </div>
</div>